:root {
    --chart-width: 300px;
    --chart-heigth: 240px;
}

@media (min-width: 568px) {
    :root {
        --chart-width: 520px;
        --chart-heigth: 340px;
    }
}
.container {
    display: flex;
    flex-wrap: wrap ;

}

.charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--chart-width));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.hero {
    min-width: var(--chart-width);
}
.chart {
    width: var(--chart-width);
    height: var(--chart-heigth);
    /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.columns {
    flex-wrap: wrap;
}

.hero {
    padding-bottom: 3rem;
    padding-left: 0.5rem;
}

.hero-body {
    padding-left: 1rem;
}

.chart text {
    stroke: #888;
}