<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="favicon.png">

    <title>Grafici Italia Covid-19</title>

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/vue-select/dist/vue-select.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <main class="container-fluid">
        <datalist id="defaultSpan">
            <option value="3">
            <option value="7">
            <option value="14">
            <option value="30">
        </datalist>
        <section class="hero is-info is-bold">
            <div id="chartsNazionali">
                <header id="head-nazionali" class="header hero-head">
                    <h1 class="title display-1">Dati Nazionali</h1>
                    <p class="lead subtitle">Ultimo aggiornamento {{ lastDate }}</p>
                </header>

                <article class="charts hero-body">
                    <div v-for="(chart,index) in charts" :key="index">
                        <input type="checkbox" v-model="charts[index].chart.movingAverage.active">
                        <label>Media mobile - </label>
                        <label>numero di valori (3-30):</label>
                        <input type="number" value="7" min="3" max="30"
                            v-model="charts[index].chart.movingAverage.range" list="defaultSpan">
                        <h2 class="chart" :id="charts[index].element">&nbsp;</h2>
                    </div>
                </article>
            </div>
        </section>

        <section class="hero is-primary is-bold">
            <div id="chartsTrentino">
                <header id="head-trentino" class="header hero-head">
                    <h1 class="title display-1">Dati del Trentino</h1>
                    <p class="lead subtitle">Ultimo aggiornamento {{ lastDate }}</p>
                </header>

                <article class="charts hero-body">
                    <div v-for="(chart,index) in charts" :key="index">
                        <input type="checkbox" v-model="charts[index].chart.movingAverage.active">
                        <label>Media mobile - </label>
                        <label>numero di valori (3-30):</label>
                        <input type="number" value="7" min="3" max="30"
                            v-model="charts[index].chart.movingAverage.range" list="defaultSpan">
                        <h2 class="chart" :id="charts[index].element">&nbsp;</h2>
                    </div>
                </article>
            </div>
        </section>

        <section class="hero is-link is-bold">
            <div id="chartsComuni">
                <header id="head-comune" class="header hero-head">
                    <h1 class="title display-1">Dati di {{ selected?.comune }}</h1>
                    <p class="lead subtitle">Ultimo aggiornamento {{ lastDate }}</p>
                    <v-select label="comune" :filterable="true" :options="options" @search="onSearch"
                        v-model="selected">
                        <template #header>
                            <p>scrivi per selezionare il comune</p>
                        </template>
                        <template slot="no-options">
                            scrivi per cercare i comuni
                        </template>
                        <template slot="option" slot-scope="option">
                            <div class="d-center">
                                <p>{{ option.comune }} (
                                    <em>m</em>:<strong style="color: #ff3860;">{{ option.m}}</strong>
                                    <em>g</em>:<strong style="color: #00d1b2;">{{ option.g}}</strong>
                                    <em>p</em>:<strong style="color: #3273dc;">{{ option.c}}</strong>
                                    )<p>
                            </div>
                        </template>
                        <template slot="selected-option" slot-scope="option">
                            <div class="selected d-center">
                                <p>{{ option.comune }} (
                                    <em>m</em>:<strong style="color: #ff3860;">{{ option.m}}</strong>
                                    <em>g</em>:<strong style="color: #00d1b2;">{{ option.g}}</strong>
                                    <em>p</em>:<strong style="color: #3273dc;">{{ option.c}}</strong>
                                    )<p>
                            </div>
                        </template>
                    </v-select>
                    <span>Ordinamento: </span>
                    <label><input name="ordinamento" type="radio" value="m" v-model="ordinamentoComuni">Deceduti</label>
                    <label><input name="ordinamento" type="radio" value="g" v-model="ordinamentoComuni">Guariti</label>
                    <label><input name="ordinamento" type="radio" value="c" v-model="ordinamentoComuni">Positivi</label>
                </header>

                <article class="charts hero-body">
                    <div v-for="(chart,index) in charts" :key="index">
                        <input type="checkbox" v-model="charts[index].chart.movingAverage.active">
                        <label>Media mobile - </label>
                        <label>numero di valori (3-30):</label>
                        <input type="number" value="7" min="3" max="30"
                            v-model="charts[index].chart.movingAverage.range" list="defaultSpan">
                        <h2 class="chart" :id="charts[index].element">&nbsp;</h2>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-async-computed"></script>
    <script src="https://unpkg.com/vue-select@latest"></script>
    <script src="https://unpkg.com/lodash@latest/lodash.min.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/app.js"></script>
    <script src="js/Chart.js"></script>
    <script src="js/chartNazionali.js"></script>
    <script src="js/chartTrentino.js"></script>
    <script src="js/chartComuni.js"></script>
</body>

</html>