<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="favicon.png">

    <title>Grafici Italia Covid-19</title>

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/vue-select/dist/vue-select.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <div class="container-fluid">
        <datalist id="defaultSpan">
            <option value="3">
            <option value="7">
            <option value="14">
            <option value="30">
        </datalist>
        <section class="hero is-info is-bold">
            <header id="head-nazionali" class="header hero-head">
                <h1 class="title display-1">Dati Nazionali</h1>
                <p>Ultimo aggiornamento</p>

            </header>
            <article class="charts hero-body">
                <div>
                    <input type="checkbox" name="nazOspMva" value="true" id="nazOspMva">
                    <label for="nazOspMva">Media mobile - </label>
                    <label for="nazOspSpan">numero di valori (3-30):</label>
                    <input type="number" id="nazOspSpan" name="nazOspSpan" value="7" min="3" max="30"
                        list="defaultSpan">

                    <h2 class="chart" id="ospedalizzati">&nbsp;</h2>
                </div>
                <div>
                    <input type="checkbox" name="nazIntMva" value="true" id="nazIntMva">
                    <label for="nazIntMva">Media mobile - </label>
                    <label for="nazIntSpan">numero di valori (3-30):</label>
                    <input type="number" id="nazIntSpan" name="nazIntSpan" value="7" min="3" max="30"
                        list="defaultSpan">
                    <h2 class="chart" id="terapia_intensiva">&nbsp;</h2>
                </div>
                <div>
                    <input type="checkbox" name="nazDecMva" value="true" id="nazDecMva">
                    <label for="nazDecMva">Media mobile - </label>
                    <label for="nazDecSpan">numero di valori (3-30):</label>
                    <input type="number" id="nazDecSpan" name="nazDecSpan" value="7" min="3" max="30"
                        list="defaultSpan">
                    <h2 class="chart" id="deceduti">&nbsp;</h2>
                </div>
                <div>
                    <input type="checkbox" name="nazGuaMva" value="true" id="nazGuaMva">
                    <label for="nazGuaMva">Media mobile - </label>
                    <label for="nazGuaSpan">numero di valori (3-30):</label>
                    <input type="number" id="nazGuaSpan" name="nazGuaSpan" value="7" min="3" max="30"
                        list="defaultSpan">
                    <h2 class="chart" id="dimessi_guariti">&nbsp;</h2>
                </div>
                <div>
                    <input type="checkbox" name="nazTamMva" value="true" id="nazTamMva">
                    <label for="nazTamMva">Media mobile - </label>
                    <label for="nazTamSpan">numero di valori (3-30):</label>
                    <input type="number" id="nazTamSpan" name="nazTamSpan" value="7" min="3" max="30"
                        list="defaultSpan">
                    <h2 class="chart" id="tamponi">&nbsp;</h2>
                </div>
                <div>
                    <input type="checkbox" name="nazPosMva" value="true" id="nazPosMva">
                    <label for="nazPosMva">Media mobile - </label>
                    <label for="nazPosSpan">numero di valori (3-30):</label>
                    <input type="number" id="nazPosSpan" name="nazPosSpan" value="7" min="3" max="30"
                        list="defaultSpan">
                    <h2 class="chart" id="positivi">&nbsp;</h2>
                </div>
            </article>
        </section>
        <section class="hero is-primary is-bold">
            <header id="head-trentino" class="header hero-head">
                <h1 class="title display-1">Dati del Trentino</h1>
                <p>Ultimo aggiornamento</p>

            </header>
            <article class="charts hero-body">
                <div>
                    <input type="checkbox" data-type="ospedalizzati" name="trentOspMva" value="true" id="trentOspMva">
                    <label for="trentOspMva">Media mobile - </label>
                    <label for="trentOspSpan">numero di valori (3-30):</label>
                    <input type="number" data-type="ospedalizzati" id="trentOspSpan" name="trentOspSpan" value="7"
                        min="3" max="30" list="defaultSpan">
                    <h2 class="chart" id="ospedalizzati_trentino">&nbsp;</h2>
                </div>
                <div>
                    <input type="checkbox" data-type="intensiva" name="trentIntMva" value="true" id="trentIntMva">
                    <label for="trentIntMva">Media mobile - </label>
                    <label for="trentIntSpan">numero di valori (3-30):</label>
                    <input type="number" data-type="intensiva" id="trentIntSpan" name="trentIntSpan" value="7" min="3"
                        max="30" list="defaultSpan">
                    <h2 class="chart" id="terapia_intensiva_trentino">&nbsp;</h2>
                </div>
                <div>
                    <input type="checkbox" data-type="deceduti" name="trentDecMva" value="true" id="trentDecMva">
                    <label for="trentDecMva">Media mobile - </label>
                    <label for="trentDecSpan">numero di valori (3-30):</label>
                    <input type="number" data-type="deceduti" id="trentDecSpan" name="trentDecSpan" value="7" min="3"
                        max="30" list="defaultSpan">
                    <h2 class="chart" id="deceduti_trentino">&nbsp;</h2>
                </div>
                <div>
                    <input type="checkbox" data-type="guariti" name="trentGuaMva" value="true" id="trentGuaMva">
                    <label for="trentGuaMva">Media mobile - </label>
                    <label for="trentGuaSpan">numero di valori (3-30):</label>
                    <input type="number" data-type="guariti" id="trentGuaSpan" name="trentGuaSpan" value="7" min="3"
                        max="30" list="defaultSpan">
                    <h2 class="chart" id="guariti_trentino">&nbsp;</h2>
                </div>
                <div>
                    <input type="checkbox" data-type="positivi" name="trentPosMva" value="true" id="trentPosMva">
                    <label for="trentPosMva">Media mobile - </label>
                    <label for="trentPosSpan">numero di valori (3-30):</label>
                    <input type="number" data-type="positivi" id="trentPosSpan" name="trentPosSpan" value="7" min="3"
                        max="30" list="defaultSpan">
                    <h2 class="chart" id="positivi_trentino">&nbsp;</h2>
                </div>
            </article>
        </section>
        <section class="hero is-link is-bold">
            <div id="vue">
                <header id="head-comune" class="header hero-head">
                    <h1 class="title display-1" v-model="selected">Dati di {{ selected.comune }}</h1>
                    <p>Ultimo aggiornamento</p>
                    <v-select label="comune" :filterable="true" :options="options" @search="onSearch"
                        v-model="selected">
                        <template #header>
                            <p>scrivi per selezionare il comune</p>
                        </template>
                        <template slot="no-options">
                            scrivi per cercare i comuni
                        </template>
                        <template slot="option" slot-scope="option">
                            <div class="d-center">
                                <p>{{ option.comune }} (
                                    <em>m</em>:<strong style="color: #ff3860;">{{ option.m}}</strong>
                                    <em>g</em>:<strong style="color: #00d1b2;">{{ option.g}}</strong>
                                    <em>p</em>:<strong style="color: #3273dc;">{{ option.c}}</strong>
                                    )<p>
                            </div>
                        </template>
                        <template slot="selected-option" slot-scope="option">
                            <div class="selected d-center">
                                <p>{{ option.comune }} (
                                    <em>m</em>:<strong style="color: #ff3860;">{{ option.m}}</strong>
                                    <em>g</em>:<strong style="color: #00d1b2;">{{ option.g}}</strong>
                                    <em>p</em>:<strong style="color: #3273dc;">{{ option.c}}</strong>
                                    )<p>
                            </div>
                        </template>
                    </v-select>
                    <input name="morti" type="radio" value="m" v-model="picked">
                    <label for="morti">Ordinamento: Deceduti</label>
                    <input name="guariti" type="radio" value="g" v-model="picked">
                    <label for="guariti">Ordinamento: Guariti</label>
                    <input name="contagiati" type="radio" value="c" v-model="picked">
                    <label for="contagiati">Ordinamento: Positivi</label>

                </header>
                <article class="charts hero-body">
                    <div v-for="(chart,index) in charts" :key="index" >
                        <input type="checkbox" v-model="charts[index].chart.movingAverage.active">
                        <label>Media mobile - </label>
                        <label>numero di valori (3-30):</label>
                        <input type="number" value="7" min="3" max="30" v-model="charts[index].chart.movingAverage.range"
                            list="defaultSpan">
                        <h2 class="chart" :id="charts[index].element">&nbsp;</h2>

                    </div>
                </article>
            </div>

        </section>
    </div>
    <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-async-computed"></script>
    <script src="https://unpkg.com/vue-select@latest"></script>
    <script src="https://unpkg.com/lodash@latest/lodash.min.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/app.js"></script>
    <script src="js/main.js"></script>
</body>

</html>